<h1> data</h1>
<%= data_name[0].data_name%>

<form method="POST" action="/delete/%= data_name[0].data_name%>">
<%= data_name[0].data_name%>
<p>action=/delete/<%= data_name[0].data_name%></p>
<input type="submit" value="delete first">
</form>

<form method="POST" action="/update">
    <%= data_name[0].data_name%>
    <p>Update</p>
    <input type="submit" value="update first">
    </form>

<a href=" /insert">insert hard code value</a>
<form method="POST" action="/insert">
    <input name="myName">
    <input type="submit" value="save my name!">

</form>
